
#container {
    min-width: 310px;
    height: 450px;
    margin: 0 auto
}
span {
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    margin: 2px;
}
li {
    margin: 4px;
}

/*try ng-class*/
.class1 {
    color: red;
}
.class2 {
    color: forestgreen;
}

.class3 {
    color: blue;
}

/*angularjs material*/
md-checkbox {
  margin: 8px;
  cursor: pointer;
  padding-left: 18px;
  padding-right: 0;
  line-height: 26px;
  min-width: 18px;
  min-height: 18px;
  color: rgba(0, 255, 0, 1);
}
md-checkbox.md-checked.green .md-icon {
 background-color: rgba(0, 255, 0, 0.87);
}
